
________________start letter
{% for user in jinja_var %}
hello {{ user.FULLNAME }}
    {{ user.ADDRESS }}
    {{ user.CITYSTATEZIP }}




i am a lawyer

you were charged with FUTUREPUTHERE

please call my office for assistance
Thanks
lawyer
________________END letter
{% endfor %}